.home-wrapper {
    display: flex;
    flex-direction: row;
    
}

.home-main {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-empty {
    flex: 1;
}

.home-side {
    flex: 1;
}

/*--------------------------------*/

.forums-page-wrapper {
    display: flex;
}

.forums-main {
    flex:2;
}

.forums-side {
    flex:1;
    margin-left: 2vw;
}